services:
  klaps-backend:
    image: ghcr.io/biplo12/klaps-nest-backend:${IMAGE_TAG:-latest}
    container_name: ${CONTAINER_NAME:-klaps-backend}
    restart: always
    ports:
      - "${PORT}:${PORT}"
    env_file:
      - .env
